{
  "openapi": "3.1.0",
  "info": {
    "title": "Embedding Atlas data API",
    "version": "0.3.0",
    "summary": "Keyless, CORS-open JSON and CSV over public water, trade, jobs, housing, hazard and land sources, with provenance on every number.",
    "description": "Every JSON response is an envelope: route-specific fields at the top level, the payload in `data`, one `provenance` record per upstream release the numbers came from (estimates carry their formula in `method`), and `generatedAt`. Tabular ops answer `format=csv` with the same provenance as `#` comment lines after the data. See docs/API.md for citation format, caching, courtesy and per-source revision caveats.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/jcdavis131/gods-eye-view/blob/main/LICENSE"
    },
    "contact": {
      "url": "https://github.com/jcdavis131/gods-eye-view"
    }
  },
  "servers": [
    {
      "url": "https://eye.jcamd.com",
      "description": "Public deployment"
    },
    {
      "url": "http://localhost:3000",
      "description": "next dev"
    }
  ],
  "tags": [
    {
      "name": "economy",
      "description": "Trade, jobs, wages, home values and rents: BLS QCEW, Zillow, BTS, NGA World Port Index, World Bank, FRED."
    },
    {
      "name": "water",
      "description": "Surface water, groundwater, drought, flood status: USGS, NOAA NWPS, TWDB, US Drought Monitor."
    },
    {
      "name": "fabric",
      "description": "Place fabric: the civic, electoral, statistical, hydrologic, ecological, hazard, service and federal constructs at a point: Census TIGERweb, USGS WBD and 3DEP, EPA ecoregions, FEMA NFHL, NWS."
    },
    {
      "name": "live",
      "description": "Live NWS warnings and earthquakes: the constructs that are born and die, and the Teleport tour."
    },
    {
      "name": "hazards",
      "description": "Wildfires, satellite fire detections and hazard alerts: NIFC WFIGS, NASA FIRMS, NWS, GDACS, NASA EONET."
    },
    {
      "name": "land",
      "description": "Flood zones, wetlands, public and protected lands, ground elevation: FEMA NFHL, USFWS NWI, USGS PAD-US, USGS 3DEP EPQS."
    },
    {
      "name": "terrain",
      "description": "Terrain, slope, contours, soils, land cover and the long-range hazard pictures: USGS 3DEP, NRCS SSURGO, USFS WHP, MRLC NLCD, FEMA NFHL, NOAA sea level rise."
    },
    {
      "name": "parcels",
      "description": "Parcels and ownership as each county or state service publishes them, NAD address points and BLM PLSS; found only by a point or a box, never by a name."
    },
    {
      "name": "zoning",
      "description": "Zoning districts as city zoning GIS services publish them: Seattle, Denver, New York City (DCP districts and the Zoning Tax Lot Database), Chicago, Dallas, San Antonio, Austin, Los Angeles, San Francisco; Houston answers that it has no zoning ordinance. The city is picked by the Census TIGERweb incorporated place under the point."
    },
    {
      "name": "permits",
      "description": "Building permits (Chicago, Austin, Seattle, Denver residential, New York DOB NOW, Los Angeles, San Francisco), business licences (NY State Liquor Authority, Chicago, San Francisco, Los Angeles, NYC DCWP premises) and environmental permits (EPA ECHO Clean Water Act and Clean Air Act, U.S. Army Corps of Engineers ORM), each with a coverage list that says which sources answered and why the others did not."
    },
    {
      "name": "space",
      "description": "Space weather (GFZ Kp, NASA DONKI) and NASA's ISS live stream, checked through YouTube oEmbed."
    },
    {
      "name": "infra",
      "description": "Infrastructure and geohazards: HIFLD transmission lines (archive), EIA pipelines, FRA/BTS rail, FAA public-use airports, USACE dams, EIA-860M power plants and Wikidata nuclear plants, USGS Quaternary faults and landslides, BLM PLSS with T-R-S search, Macrostrat geology."
    },
    {
      "name": "air",
      "description": "Air quality: EPA AirNow hourly monitor observations (NowCast AQI, 1-hour for NO2), preliminary, credited to each reporting agency. Not switched on yet: answers 404 until the operator returns AirNow's data-user form."
    },
    {
      "name": "events",
      "description": "News events: GDELT 2.0 conflict events folded into the cities they were coded at; no actors, no article links."
    },
    {
      "name": "news",
      "description": "The newsroom: facts from the Atlas's own live feeds, a credited headline wire from outlets' RSS feeds, the rundown the fictional anchors read and the 30-minute broadcast wheel. Scripts are written by a local AI or by templates, strictly from the listed facts."
    },
    {
      "name": "meta",
      "description": "This description."
    },
    {
      "name": "reserved",
      "description": "Routes other workstreams add in this build; documented in docs/*.md, schemas to be filled in by the integrator."
    }
  ],
  "paths": {
    "/api/openapi": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "This OpenAPI document",
        "operationId": "openapi",
        "responses": {
          "200": {
            "description": "The document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/economy": {
      "get": {
        "tags": [
          "economy"
        ],
        "summary": "Trade, commerce and real-estate ops",
        "operationId": "economy",
        "description": "One route, dispatched on `op`. Bounding boxes are clamped to 18° and snapped outward to a 1° grid so nearby callers share a cache entry. Tabular ops (`areas`, `sectors`, `ports`, `border`, `countries`, `pulse`) accept `format=csv`. The occupation ops (`msas`, `msa-jobs`) read a bundled BLS OEWS release, so they answer without an upstream call.",
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "areas",
                "sectors",
                "msas",
                "msa-jobs",
                "context",
                "ports",
                "border",
                "countries",
                "partners",
                "pulse",
                "report"
              ]
            },
            "description": "areas: counties in a bbox (or every state with level=state) joined with QCEW jobs/wages and Zillow home values/rents. sectors: NAICS sector mix for a county (SSCCC) or state (SS000) with location quotients. msas: every metropolitan statistical area with its centroid, employment and most distinctive occupation group. msa-jobs: the occupation mix of one MSA (top 30 detailed occupations and all 22 SOC major groups, with wages and location quotients). context: sector mix plus metro, state and US home values. ports: World Port Index harbours in a bbox with BTS Port Performance volumes. border: every US land port of entry with 25 months of BTS counts. countries: Natural Earth polygons with World Bank GDP, exports, imports, trade/GDP, TEU. partners: top trading partners (WITS). pulse: national FRED and BTS series. report: the market report for a point."
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Bbox"
            },
            "description": "`w,s,e,n` degrees. Required for op=areas (level=county) and op=ports."
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "county",
                "state"
              ],
              "default": "county"
            },
            "description": "op=areas: county polygons in the bbox, or every state."
          },
          {
            "name": "fips",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{5}|US000)$"
            },
            "description": "op=sectors, op=context: county GEOID (48453) or state (48000)."
          },
          {
            "name": "msa",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$"
            },
            "description": "op=msa-jobs: 5-digit CBSA code (41700). `data` is null with a caveat when the release has no such MSA."
          },
          {
            "name": "min",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "large",
                "medium",
                "small",
                "all"
              ],
              "default": "medium"
            },
            "description": "op=ports: smallest harbour size to include; any harbour with BTS statistics is always included."
          },
          {
            "name": "iso3",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z]{3}$"
            },
            "description": "op=partners: reporter country."
          },
          {
            "name": "series",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "description": "op=pulse with format=csv: long format, one row per observation instead of one per series."
          },
          {
            "$ref": "#/components/parameters/lon"
          },
          {
            "$ref": "#/components/parameters/lat"
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope for the op, or CSV.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Cors"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EconomyAreasResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EconomySectorsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EconomyMsasResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EconomyMsaJobsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EconomyContextResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EconomyPortsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EconomyBorderResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EconomyCountriesResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EconomyPartnersResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EconomyPulseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EconomyReportResponse"
                    }
                  ]
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                },
                "example": "geoid,name,level,state,...\r\n48453,Travis,county,TX,...\r\n# generated_at: 2026-09-11T10:00:00.000Z\r\n# source: U.S. Bureau of Labor Statistics. Quarterly Census of Employment and Wages. ...\r\n"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "options": {
        "tags": [
          "economy"
        ],
        "summary": "CORS preflight",
        "operationId": "economyOptions",
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/api/water": {
      "get": {
        "tags": [
          "water"
        ],
        "summary": "Water ops",
        "operationId": "water",
        "description": "One route, dispatched on `op`. Bounding boxes are clamped to 4° and snapped outward to a 0.5° grid. Tabular ops (`gauges`, `wells`, `nwps`, `twdb`, `history`, `matchup`) accept `format=csv`.",
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "gauges",
                "wells",
                "nwps",
                "twdb",
                "drought",
                "history",
                "matchup",
                "normals",
                "report"
              ]
            },
            "description": "gauges: USGS latest continuous readings in a bbox (flow, stage, temperature, DO, conductance, pH, turbidity, reservoir elevation/storage). wells: USGS latest daily groundwater levels with aquifer names. nwps: NOAA NWPS gauges with flood categories. twdb: Texas reservoirs. drought: US Drought Monitor current polygons. history: 365 days of daily means for one site and parameter. matchup: instantaneous values for one site and parameter in a window. normals: USGS daily-mean discharge percentiles (5th to 95th) for a calendar day, per site (sites=, date=MM-DD). report: the community water report for a point."
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Bbox"
            },
            "description": "`w,s,e,n` degrees. Required for op=gauges, wells, nwps."
          },
          {
            "name": "param",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}(,\\d{5})*$"
            },
            "description": "USGS parameter code(s). op=gauges: optional comma list to narrow; op=history, op=matchup: one code, required."
          },
          {
            "name": "site",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^USGS-\\w+$"
            },
            "description": "op=history, op=matchup: monitoring location id."
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "op=matchup: window start, ISO 8601 with Z."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "op=matchup: window end, ISO 8601 with Z."
          },
          {
            "$ref": "#/components/parameters/lon"
          },
          {
            "$ref": "#/components/parameters/lat"
          },
          {
            "name": "sites",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "op=normals: comma list of up to 200 USGS site numbers (with or without USGS-)."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{2}-\\d{2}$"
            },
            "description": "op=normals: MM-DD, the calendar day; today (UTC) when omitted."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope for the op, or CSV.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Cors"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/WaterGaugesResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WaterWellsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WaterNwpsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WaterTwdbResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WaterDroughtResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WaterHistoryResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WaterMatchupResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WaterNormalsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WaterReportResponse"
                    }
                  ]
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "options": {
        "tags": [
          "water"
        ],
        "summary": "CORS preflight",
        "operationId": "waterOptions",
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/api/series": {
      "get": {
        "summary": "Nowcast series built by the snapshot collectors (counts only) and any series appended by indicators",
        "tags": [
          "series"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "list",
                "get",
                "collectors"
              ]
            },
            "required": true
          },
          {
            "name": "prefix",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "list: id prefix filter"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "get: one series id"
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "get: up to 20 comma-separated ids"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO date/time or epoch ms"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50000,
              "default": 5000
            }
          },
          {
            "name": "rollup",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily-mean",
                "daily-max",
                "daily-last"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope { data, provenance[], generatedAt, caveats? }; text/csv when format=csv",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "description": "Bad parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown series"
          }
        }
      },
      "post": {
        "summary": "Run the collectors now (requires x-gev-cron-secret; 404 when GEV_CRON_SECRET is unset)",
        "tags": [
          "series"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "collect"
              ]
            },
            "required": true
          },
          {
            "name": "only",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "comma-separated collector ids"
          },
          {
            "name": "x-gev-cron-secret",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope<RunReport>"
          },
          "401": {
            "description": "Bad secret"
          },
          "404": {
            "description": "Collect endpoint disabled"
          },
          "502": {
            "description": "Every collector failed"
          }
        }
      }
    },
    "/api/economy/history": {
      "get": {
        "summary": "Backfilled housing and jobs history per county, the national set, and the momentum IC panel",
        "tags": [
          "economy"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "county",
                "us",
                "ic"
              ]
            },
            "required": true
          },
          {
            "name": "fips",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$"
            }
          },
          {
            "name": "years",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 26,
              "default": 10
            }
          },
          {
            "name": "lag",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 12,
              "default": 0
            },
            "description": "publication lag in months applied to quarterly terms"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          },
          {
            "name": "h",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 60,
              "default": 12
            },
            "description": "ic: forward horizon in months"
          },
          {
            "name": "asof",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$"
            }
          },
          {
            "name": "minN",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 5000,
              "default": 30
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope { data, provenance[], generatedAt, caveats? }; text/csv when format=csv",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "description": "Bad parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No Zillow row for fips"
          }
        }
      }
    },
    "/api/screen": {
      "get": {
        "summary": "Rank and filter counties, states, ports, border crossings or countries with the screener query language",
        "tags": [
          "screener"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "county",
                "state",
                "port",
                "crossing",
                "country"
              ]
            },
            "required": true
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 2048
            },
            "description": "Compact query, e.g. home.yoyPct>5 AND jobs.yoy.emp<0 SORT momentum DESC LIMIT 50"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          },
          {
            "name": "pct",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "description": "add percentile ranks within the result"
          },
          {
            "name": "cols",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "comma-separated field keys to return"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "description": "return only the field registry"
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope { data, provenance[], generatedAt, caveats? }; text/csv when format=csv",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "description": "Bad parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Query too long"
          }
        }
      },
      "post": {
        "summary": "Same screen from a JSON body",
        "tags": [
          "screener"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind",
                  "query"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "county",
                      "state",
                      "port",
                      "crossing",
                      "country"
                    ]
                  },
                  "query": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "where": {
                            "type": "array"
                          },
                          "sort": {
                            "type": "array"
                          },
                          "limit": {
                            "type": "integer",
                            "maximum": 1000
                          },
                          "offset": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "json",
                      "csv"
                    ]
                  },
                  "percentiles": {
                    "type": "boolean"
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Envelope { data, provenance[], generatedAt, caveats? }; text/csv when format=csv",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "description": "Bad parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Body over 8 KB"
          }
        }
      }
    },
    "/api/indicators": {
      "get": {
        "summary": "Named indicators with thresholds: river stages, freight, housing, energy, labour, trade, macro",
        "tags": [
          "indicators"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "list",
                "latest",
                "history"
              ]
            },
            "required": true
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "latest: comma-separated indicator ids"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "freight",
                "housing",
                "water",
                "energy",
                "labour",
                "trade",
                "macro"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "history: indicator id"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "YYYY-MM-DD, ISO 8601 or epoch ms"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000,
              "default": 2000
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope { data, provenance[], generatedAt, caveats? }; text/csv when format=csv",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "description": "Bad parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failed and nothing stored (history only)"
          }
        }
      }
    },
    "/api/releases": {
      "get": {
        "summary": "Release calendar, loaded vintages, movers since the previous release",
        "tags": [
          "releases"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "calendar",
                "vintages",
                "movers"
              ]
            },
            "required": true
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "calendar: default today (UTC)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "calendar: default from+30d, clamped to 366d"
          },
          {
            "name": "table",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "zillow",
                "qcew",
                "border",
                "ports"
              ]
            },
            "description": "movers only"
          },
          {
            "name": "metric",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "movers: zhviCounty|zoriCounty, emp|avgWeeklyWage|wages|estabs, a BTS border measure, container|tonnage|dryBulk"
          },
          {
            "name": "n",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 20
            }
          },
          {
            "name": "min",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0
            },
            "description": "floor on the previous value"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "csv"
              ]
            },
            "description": "movers only"
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope { data, provenance[], generatedAt, caveats? }; text/csv when format=csv",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "description": "Bad parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/watch": {
      "get": {
        "summary": "Evaluate a watchlist and render it as RSS, Atom, JSON Feed or JSON",
        "tags": [
          "watch"
        ],
        "parameters": [
          {
            "name": "t",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 8192
            },
            "description": "Watchlist token (base64url of deflate-raw JSON)"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9][a-z0-9-]{2,63}$"
            },
            "description": "Published list id (requires the server store)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "rss",
                "atom",
                "json",
                "jsonfeed"
              ],
              "default": "rss"
            }
          },
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metrics"
              ]
            },
            "description": "list the metrics available per item kind"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed or evaluation envelope",
            "content": {
              "application/rss+xml": {},
              "application/atom+xml": {},
              "application/feed+json": {},
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad token or format"
          },
          "404": {
            "description": "Unknown id"
          },
          "502": {
            "description": "Evaluation failed"
          }
        }
      },
      "post": {
        "summary": "Publish a watchlist (mint a token), test a webhook, or dispatch alerts",
        "tags": [
          "watch"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "publish",
                "test-webhook",
                "dispatch"
              ],
              "default": "publish"
            }
          },
          {
            "name": "x-gev-cron-secret",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Required for test-webhook and dispatch; must equal GEV_CRON_SECRET"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "watchlist"
                    ],
                    "properties": {
                      "watchlist": {
                        "$ref": "#/components/schemas/Watchlist"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "url",
                      "secret"
                    ],
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "secret": {
                        "type": "string",
                        "minLength": 8,
                        "maxLength": 256
                      },
                      "token": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "always": {
                        "type": "boolean"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ data: { id, token, stored, urls, shortUrls } } or a delivery result"
          },
          "400": {
            "description": "Validation errors in details[]"
          },
          "401": {
            "description": "Wrong cron secret"
          },
          "404": {
            "description": "Webhook ops disabled (GEV_CRON_SECRET unset)"
          },
          "502": {
            "description": "Delivery failed"
          }
        }
      }
    },
    "/api/companies": {
      "get": {
        "summary": "Public companies from SEC EDGAR at their registered business address, with XBRL facts and sector bridge",
        "tags": [
          "companies"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "near",
                "county",
                "search",
                "company",
                "sectors"
              ]
            },
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Bbox"
            }
          },
          {
            "name": "fips",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$"
            },
            "description": "county, or SS000 for a state"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "search text"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z0-9][A-Z0-9.\\-]{0,9}$"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{1,10}$"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope { data, provenance[], generatedAt, caveats? }; text/csv when format=csv",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "description": "Bad parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown ticker, or a CIK that is not a company in the SEC issuer universe: an individual filer or a CIK SEC does not know. Refused before anything about it is cached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/employers": {
      "get": {
        "summary": "Ranked US employers by organization-wide headcount at their HQ city (Forbes, DBpedia, Wikidata)",
        "tags": [
          "companies"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "top",
                "zip",
                "metro",
                "search",
                "placed"
              ],
              "default": "top"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2000
            },
            "description": "op=top: 1..2000, default 100; op=search: 1..200, default 50"
          },
          {
            "name": "zip",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$"
            },
            "description": "op=zip"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "op=metro (metro name) or op=search (employer name)"
          }
        ],
        "responses": {
          "200": {
            "description": "{ data, provenance[], generatedAt, caveats[], meta } with route fields nested under meta (op, count, ...). data is an array of employer records, or GeoJSON Features for op=placed. Headcounts are organization-wide as each source reports them, not US-only.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployersEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad parameter or unknown op",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/finance": {
      "get": {
        "summary": "Banks (FDIC BankFind) and federal spending (USAspending)",
        "tags": [
          "finance"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "banks",
                "deposits",
                "bank",
                "failures",
                "spending",
                "spending-detail",
                "section"
              ]
            },
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Bbox"
            },
            "description": "banks: at most 25 counties; spending: more than 400 counties falls back to states"
          },
          {
            "name": "fips",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$"
            }
          },
          {
            "name": "cert",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 999999
            },
            "description": "FDIC certificate number"
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1934
            },
            "description": "failures: calendar year"
          },
          {
            "name": "fy",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 2008
            },
            "description": "federal fiscal year (Oct 1 to Sep 30)"
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "county",
                "state"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope { data, provenance[], generatedAt, caveats? }; text/csv when format=csv",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "description": "Bad parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Well-formed id with no upstream rows"
          }
        }
      }
    },
    "/api/brief": {
      "get": {
        "summary": "The deterministic place brief for a county, metro area or state, in the envelope",
        "description": "The same brief the place pages and the /place, /metro and /state feeds carry. Findings are detected from published figures only and each one prints the arithmetic behind it. The brief is assembled once per scope and lens per hour, so two calls inside one window are byte-identical including `generatedAt`, which is the brief's own stamp rather than the moment the response was written.",
        "tags": [
          "brief"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(county:[0-9]{5}|metro:[0-9]{5}|state:[A-Za-z]{2}|[0-9]{5}|[A-Za-z]{2})$"
            },
            "description": "county:48453 | metro:41700 | state:TX. A bare five-digit code is a county and a bare two-letter code is a state; the county and CBSA code spaces overlap, so a metro must carry the prefix."
          },
          {
            "name": "lens",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A persona id from /api/indicators' vocabulary, which narrows the findings to that persona's families. Omit for the unfiltered brief."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "txt"
              ],
              "default": "json"
            },
            "description": "txt is the plain-text rendering, with each finding's arithmetic printed under it. A brief is not a table, so there is no csv."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope { source, scope, lens, status, findings, page, provisional, rulesVersion, cacheAge, data, provenance[], generatedAt, caveats? } where data is the Brief; text/plain when format=txt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              },
              "text/plain": {}
            }
          },
          "400": {
            "description": "Malformed scope, unknown lens or unknown format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Well-formed id that no place in the manifest answers to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp": {
      "get": {
        "summary": "MCP server description and tool manifest",
        "tags": [
          "mcp"
        ],
        "responses": {
          "200": {
            "description": "name, version, endpoint, tools[], prompts[], resources[]"
          }
        }
      },
      "post": {
        "summary": "MCP JSON-RPC 2.0 over Streamable HTTP (stateless, JSON responses)",
        "tags": [
          "mcp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC result"
          },
          "202": {
            "description": "Notification accepted"
          },
          "400": {
            "description": "Parse error"
          },
          "413": {
            "description": "Body over 1 MB"
          },
          "415": {
            "description": "Content-Type must be application/json"
          }
        }
      }
    },
    "/api/fabric": {
      "get": {
        "summary": "The constructs at a point, one kind of construct across a box, where a point's water goes, what drains to it, or how two places compare",
        "description": "The place fabric: the human and scientific frames laid over one point. US points get Census TIGERweb units (state, county, incorporated place or CDP, tract, ZCTA, school districts, congressional and state legislative districts, metro/micro area, CSA, urban area, tribal land, census division and region), USGS WBD hydrologic units HUC-2 to HUC-12 with the downstream HUC-12, EPA level III/IV ecoregions, FEMA NFHL flood zone, NFIP community and FIRM panel, the NWS forecast office, forecast zone and time zone, USGS 3DEP elevation, and the EPA region, FEMA region and Federal Reserve district from published lists (split Reserve-district states are named as split). Anywhere, the Natural Earth country and continent. `edges` carry only relations the unit systems define (`nests-in`: GEOID and HUC nesting, OMB metro delineation) or an agency publishes (`assigned-to`: NWS zone to office, state to federal region; `drains-to`: WBD ToHUC). An upstream that fails is listed in `data.failed` and in `caveats`; the call still answers. The point is snapped to a 0.001 degree grid and cached six hours. op=field returns every unit of one kind inside a bbox (kind, or pov + h for the kind that emerges at a camera height), clamped per kind. op=downstream walks WBD ToHUC from the HUC-12 under a point; WBD answers cold queries slowly, so each call stops at a time budget and returns `next`, and op=downstream&from=<next> continues. op=outlines returns outlines and centroids for the chain in batches. op=upstream reads the bundled national ToHUC table backwards: every HUC-12 that drains to the outlet of the subwatershed under a point, compacted to the smallest cover of whole WBD units (level 2 to 12 digits). op=units returns names, published areas and (unless geometry=0) generalised outlines for WBD units of any level. op=compare takes two points (lon, lat and lon2, lat2) and answers which constructs they share (same unit), differ on (both have the kind, different units) or only one has, with a one-line summary such as \"same county, different congressional district\" and a globe link that opens the comparison.",
        "tags": [
          "fabric"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "stack",
                "field",
                "downstream",
                "outlines",
                "upstream",
                "units",
                "compare"
              ],
              "default": "stack"
            },
            "description": "stack: the constructs at a point. field: every unit of one kind in a bbox. downstream: one time-boxed leg of the HUC-12 chain from a point (or `from` a HUC-12) toward its terminal. outlines: generalised outlines and centroids for up to 100 HUC-12s. upstream: the catchment of the HUC-12 under a point (or huc12=), as a cover of whole WBD units. units: names, areas and outlines for WBD units of any level (codes=, up to 100; geometry=0 for up to 500 without outlines). compare: which constructs two points share and where they differ."
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "Longitude of the point, degrees. Required for op=stack, op=downstream and op=compare (point A)."
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "Latitude of the point, degrees. Required for op=stack, op=downstream and op=compare (point A)."
          },
          {
            "name": "lon2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "op=compare: longitude of point B, degrees."
          },
          {
            "name": "lat2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "op=compare: latitude of point B, degrees."
          },
          {
            "name": "geometry",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ],
              "default": "0"
            },
            "description": "op=stack: 1 adds each construct's generalised outline as `rings`. For op=units, geometry=0 returns names and areas only."
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{12}$"
            },
            "description": "op=downstream: continue a truncated walk from this HUC-12 (a previous leg's `next`)."
          },
          {
            "name": "huc12",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "op=outlines: comma list of 1 to 100 twelve-digit HUC-12 codes."
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "op=field: west,south,east,north in degrees; clamped to the kind's widest span and snapped to a grid."
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "state",
                "county",
                "place",
                "cd",
                "sldu",
                "sldl",
                "cbsa",
                "tract",
                "zcta",
                "school",
                "huc2",
                "huc4",
                "huc6",
                "huc8",
                "huc10",
                "huc12",
                "eco3",
                "eco4"
              ]
            },
            "description": "op=field: the construct kind to tile the box with."
          },
          {
            "name": "pov",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hydrologic",
                "civic",
                "representation",
                "statistical",
                "ecological",
                "service"
              ]
            },
            "description": "op=field without kind: the point of view whose kind emerges at height h."
          },
          {
            "name": "h",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "op=field with pov: camera height in metres."
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "name": "codes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "op=units: comma list of WBD codes of 2, 4, 6, 8, 10 or 12 digits, e.g. 12,1209,120902,12090205."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope { source, snapped, constructs, cacheAge, globe, data, provenance[], generatedAt, caveats } where data is { point { lon, lat, elevationM? }, nodes [{ id, kind, domain, name, code?, areaKm2?, areaBasis?, anchor?, rings?, facts, links, source }], edges [{ from, to, relation, basis, external? }], answered[], failed[], coverage }; text/csv with one row per construct when format=csv",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "description": "Missing or out-of-range lon/lat, unknown op or format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "op=downstream: no HUC-12 at the point",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/live": {
      "get": {
        "summary": "Where the world is doing something unusual right now",
        "description": "NWS active alerts rated Severe or Extreme (with the polygon the forecaster drew, or the outlines of the zones the alert names) and the past day's M4.5+ USGS earthquakes, plus both merged into one list in tour order: severity, urgency and certainty as NWS rates them (warnings in force now before later ones), magnitude and PAGER alert as USGS publishes them. The order is for a tour, not a risk score. Cached five minutes; a failing feed is listed in data.failed and in caveats.",
        "tags": [
          "live"
        ],
        "responses": {
          "200": {
            "description": "Envelope with data: { alerts, quakes, items, failed, unmapped }."
          }
        }
      }
    },
    "/api/hazards": {
      "get": {
        "summary": "Current wildfires, the last 24 hours of satellite fire detections, and hazard alerts",
        "description": "op=wildfire: every current US wildland fire from NIFC WFIGS, as perimeters (acres, percent contained, discovery date, the perimeter's capture time; `perimeter captured` says \"not published by WFIGS\" where it has none rather than borrowing the record's edit time) and incident points for fires with no perimeter yet. op=fires: NASA FIRMS hotspots of the last 24 hours (VIIRS S-NPP, VIIRS NOAA-20, MODIS) inside `bbox` as rows (see `columns`); over `max` they are binned to a square grid and each cell keeps its brightest detection (max FRP) with the count it stands for. Confidence stays on each instrument's scale (VIIRS low / nominal / high, MODIS 0-100 %). op=alerts: every active NWS alert (the polygon NWS published, or else the counties its SAME codes list, dashed on the globe), every GDACS event marked current (RSS, EVENTS4APP and a SEARCH for current Orange and Red events, merged), and NASA EONET open volcano events; severities as each publisher gives them, unrated as \"not rated by source\". GDACS quakes the USGS 24 h feed also has carry `alsoInUsgs`, and NWS alerts the live feed behind /api/live outlined carry `liveOutlined` (read from the same five-minute cache entry, within the same 20 s budget; when that feed failed or was late none is marked and `counts.nws.liveChecked` is false); none is dropped. Each alerts source gets 20 s; one that does not answer is named in `failed` and in `caveats`. Not a warning service.",
        "tags": [
          "hazards"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "wildfire",
                "fires",
                "alerts"
              ]
            },
            "description": "wildfire: NIFC WFIGS perimeters and incident points (US). fires: NASA FIRMS 24 h hotspots in a bbox. alerts: NWS + GDACS + EONET."
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Bbox"
            },
            "description": "`w,s,e,n` degrees, op=fires only; snapped outward to a 1° grid. Default: the whole globe."
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 500,
              "maximum": 8000,
              "default": 5000
            },
            "description": "op=fires: most rows returned; above it the detections are binned (brightest per cell)."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope for the op.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Cors"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/HazardsWildfireResponse"
                    },
                    {
                      "$ref": "#/components/schemas/HazardsFiresResponse"
                    },
                    {
                      "$ref": "#/components/schemas/HazardsAlertsResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "options": {
        "tags": [
          "hazards"
        ],
        "summary": "CORS preflight",
        "operationId": "hazardsOptions",
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/api/land": {
      "get": {
        "summary": "Flood zones, wetlands, public and protected lands in a box, or the ground elevation at a point",
        "description": "op=flood: FEMA National Flood Hazard Layer flood hazard zones (layer 28) with FEMA's meaning of each zone, whether the ground is in the special flood hazard area, and the base flood elevation where FEMA published one (the -9999 sentinel is dropped). A regulatory map, not a forecast; a box with no zone is not a finding of no risk. Boxes are clamped to 0.08° and snapped to a 0.02° grid. op=wetlands: USFWS National Wetlands Inventory polygons with their Cowardin code, type, system, class, water regime, acres and the year of the imagery each was mapped from (`imageYears`, null when NWI's source layer did not answer); same box rules. op=publiclands: USGS PAD-US 4.1 fee, easement, designation and proclamation areas with owner, manager, local owner, easement holder, public access, GAP status and IUCN category as PAD-US publishes them; boxes up to 2°, snapped to 0.25°; a box taller than 1.5° keeps the largest 600 units, generalised. op=elevation: USGS 3DEP ground elevation (EPQS) in metres with the source DEM resolution; outside 3DEP coverage `metres` is absent and `note` carries what EPQS said. Only the returned `bbox` is loaded.",
        "tags": [
          "land"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "flood",
                "wetlands",
                "publiclands",
                "elevation"
              ]
            },
            "description": "flood: FEMA NFHL zones. wetlands: USFWS NWI polygons with imagery years. publiclands: USGS PAD-US 4.1 units with owners and access. elevation: USGS 3DEP EPQS at lon, lat."
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Bbox"
            },
            "description": "`w,s,e,n` degrees. Required for op=flood, wetlands (clamped to 0.08°), publiclands (clamped to 2°). The snapped box comes back in `bbox`."
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "op=elevation: longitude of the point."
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "op=elevation: latitude of the point."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope for the op.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Cors"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LandFloodResponse"
                    },
                    {
                      "$ref": "#/components/schemas/LandWetlandsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/LandPubliclandsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/LandElevationResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "options": {
        "tags": [
          "land"
        ],
        "summary": "CORS preflight",
        "operationId": "landOptions",
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/api/terrain": {
      "get": {
        "summary": "Slope, 2 ft contour, land cover and FEMA flood-map tiles rendered once and held at the edge; the hazard class, land cover class or slope at a point; the catalog of terrain pictures",
        "description": "op=tile: one 512 px PNG in Web Mercator (XYZ, y down) of a product no publisher caches as tiles: slope (USGS 3DEP \"Slope Map\", z 8-16), contours (3DEP \"Preset 2ft Contour Interval\", black lines on white, unlabelled, z 13-17), landcover (MRLC NLCD 2021 WMS, z 5-12), floodmap (FEMA NFHL layer 28 export, transparent, z 14-17). The route builds the upstream request from the product and the tile's EPSG:3857 box and never takes a URL; the image is the publisher's own render, cached a day in the server and for weeks at the edge. op=point: firehazard (USFS Wildfire Hazard Potential 2023 class, with the class table from the service's own legend), landcover (NLCD 2021 class, from MRLC's GetFeatureInfo and legend) or slope (3DEP \"Slope Degrees\", whole degrees) at lon, lat; a point with no value answers `class: null` / `degrees: null`, never 0. op=products: every terrain picture the globe draws, direct or rendered here, with its source, zoom range, class tables, caveats and the terrain tiles' required attribution.",
        "tags": [
          "terrain"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "tile",
                "point",
                "products"
              ]
            },
            "description": "tile: a rendered PNG tile. point: a class or slope at lon, lat. products: the catalog."
          },
          {
            "name": "product",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "slope",
                "contours",
                "landcover",
                "floodmap",
                "firehazard"
              ]
            },
            "description": "op=tile: slope | contours | landcover | floodmap. op=point: firehazard | landcover | slope."
          },
          {
            "name": "z",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "op=tile: zoom, inside the product's range."
          },
          {
            "name": "x",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "op=tile: tile column."
          },
          {
            "name": "y",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "op=tile: tile row (XYZ, north at 0)."
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "op=point: longitude."
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "op=point: latitude."
          }
        ],
        "responses": {
          "200": {
            "description": "op=tile: the PNG. op=point and op=products: the envelope.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Cors"
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/TerrainTileImage"
                }
              },
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TerrainPointResponse"
                    },
                    {
                      "$ref": "#/components/schemas/TerrainProductsResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "options": {
        "tags": [
          "terrain"
        ],
        "summary": "CORS preflight",
        "operationId": "terrainOptions",
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/api/soil": {
      "get": {
        "summary": "The NRCS SSURGO soil map unit at a point, with its farmland classification and the NCCPI of its components",
        "description": "Two Soil Data Access queries. op=point: the map unit under lon, lat (name, symbol, NRCS farmland classification, survey area and the date it was saved), then its components with their share of the map unit and NRCS's \"NCCPI - National Commodity Crop Productivity Index (Ver 3.0)\" interpretation (0 to 1 with NRCS's class words), the dominant component first; `nccpi` prints the dominant one's rating. `data` is null where no map unit is mapped (water, outside the survey, outside the US). op=mapunit: the components of one map unit key. A component NRCS did not rate has `nccpi: null` and \"Not rated\", never 0. A soil rating, never a price or a parcel score.",
        "tags": [
          "terrain"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "point",
                "mapunit"
              ]
            },
            "description": "point: the map unit at lon, lat with its components. mapunit: the components of mukey."
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "op=point: longitude."
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "op=point: latitude."
          },
          {
            "name": "mukey",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{1,12}$"
            },
            "description": "op=mapunit: SSURGO map unit key (digits)."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope for the op.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Cors"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SoilPointResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SoilMapunitResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "options": {
        "tags": [
          "terrain"
        ],
        "summary": "CORS preflight",
        "operationId": "soilOptions",
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/api/parcels": {
      "get": {
        "summary": "The parcel at a point as its county or state publishes it, or parcel outlines in a small box",
        "description": "mode=identify (the default): the county at lon, lat (Census TIGERweb), the keyless parcel service wired for it, and the parcel record(s) there as that service publishes them: parcel id, site address, owner names (or `withheld` with the reason: the source's confidentiality flag, a placeholder such as \"Current Owner\", or New Jersey's Daniel's Law; or `not-published` where the service carries no owner field), mailing address, values each with the source's own label and year, exemption, use, zoning, year built, area with its basis, last sale, legal description, and the source's own record link. Also USDOT NAD address points on the parcel (`addresses`, null when NAD did not answer within 2.5 s) and, in the 30 PLSS states, the BLM township and section (`plss`). mode=outlines: parcel outlines in a box of at most 0.01° snapped to 0.002°, carrying the parcel id and use class only, never an owner. mode=addresses: NAD address points on the parcel at the point, waiting up to 30 s. There is no name parameter: `owner`, `name`, `q`, `where`, `search` and `query` are refused with 400.",
        "tags": [
          "parcels"
        ],
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "identify",
                "outlines",
                "addresses"
              ],
              "default": "identify"
            },
            "description": "identify: the parcel record(s) at lon, lat. outlines: lot lines in bbox (id and use class only). addresses: NAD address points at lon, lat."
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "mode=identify and addresses: longitude of the point (rounded to 5 decimals)."
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "mode=identify and addresses: latitude of the point (rounded to 5 decimals)."
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Bbox"
            },
            "description": "`w,s,e,n` degrees. Required for mode=outlines; clamped to 0.01° and snapped to 0.002°. The snapped box comes back in `bbox`."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope for the mode.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Cors"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ParcelsIdentifyResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ParcelsOutlinesResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ParcelsAddressesResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "options": {
        "tags": [
          "parcels"
        ],
        "summary": "CORS preflight",
        "operationId": "parcelsOptions",
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/api/zoning": {
      "get": {
        "summary": "The zoning district at a point, district outlines in a box, or which cities are covered",
        "description": "op=point: the district a city's own zoning GIS puts the point in, with the city's description and category words, overlays and special districts, ordinance, effective date, case number and code link where the city publishes them. `state` is one of district, right-of-way (San Antonio's UZROW), no-district (no polygon at the point: a street, water or a gap; never 'unzoned'), no-ordinance (Houston) or not-covered (no source wired for the Census place under the point). New York adds the Zoning Tax Lot Database row of the tax lot under the point (MapPLUTO is asked for the BBL only), or DCP's overlay layers at the point where the lot has no row (condominium billing lots) or there is no lot; `overlaysUnknown` is true when neither answered. op=districts: district outlines (code and colour family only) from every covered city the box meets, generalised on each city's server to about 3 m; boxes clamped to 0.04° and snapped to 0.0025°. op=coverage: the cities, what each answers and why. Zoning as each city's GIS publishes it; the adopted zoning map and code govern.",
        "tags": [
          "zoning"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "point",
                "districts",
                "coverage"
              ]
            },
            "description": "point: the district at lon, lat. districts: outlines in bbox. coverage: the wired cities."
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "op=point: longitude."
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "op=point: latitude."
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Bbox"
            },
            "description": "op=districts: `w,s,e,n` degrees, clamped to 0.04° and snapped to 0.0025°. The snapped box comes back in `bbox`."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope for the op.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Cors"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ZoningPointResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ZoningDistrictsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ZoningCoverageResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "options": {
        "tags": [
          "zoning"
        ],
        "summary": "CORS preflight",
        "operationId": "zoningOptions",
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/api/permits": {
      "get": {
        "summary": "Building permits, business licences or environmental permits in a box",
        "description": "op=building: permits the cities list as issued in the last `days` (7-90, default 30), newest first, at most 500 per city; boxes clamped to 0.03° and snapped to 0.0025°. Each record keeps its valuation under the column it came from (reported cost, estimated project cost, valuation...), the parcel key the city publishes (BBL, TCAD id, SCHEDNUM, PIN, block/lot), the zoning printed on the permit where there is one, the contractor company and the city's record link. Every portal is asked for named columns ($select or outFields), and no applicant, owner or contact name is requested; the contractor company is shown as the city publishes it and can be a sole trader's own name (never searched). op=licences: licensed premises, by trade name (an entity's legal name where there is no trade name; the legal or registrant name is requested only to test for an entity form and to compare it with the trade name, and is discarded otherwise, so a trade name that is a non-company registrant's own name is not shown and `nameNote` says why; a trade name is otherwise as published and can contain a person's name), and licences at apartment or unit addresses withheld as a home-business heuristic (`withheld` counts them); boxes clamped to 0.02°. op=environmental: EPA ECHO NPDES and air facilities (compliance in ECHO's own words; 'not reported by ECHO' when it gives none) and the Corps' regulatory actions (the applicant is never kept; a project name that opens 'Surname, Given' is withheld and `facilityNote` says so, though a project name can carry a person's name in another form; the search returns at most 300, the box's actions first and then actions from anywhere in the country, so only those inside the box are kept, sorted newest first here, and USACE is partial only when all 300 lay in the box); boxes clamped to 0.2° and snapped to 0.05°. `coverage` lists every source the box meets with its state: covered, partial (a cap was hit), stale (Dallas), no-feed (Houston), token-required (Denver commercial), not-wired (San Antonio) or error (did not answer this time: missing, not absent).",
        "tags": [
          "permits"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "building",
                "licences",
                "environmental"
              ]
            },
            "description": "building: city building permits. licences: licensed premises. environmental: EPA ECHO facilities and Corps actions."
          },
          {
            "name": "bbox",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Bbox"
            },
            "description": "`w,s,e,n` degrees. The snapped box comes back in `bbox`."
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 7,
              "maximum": 90,
              "default": 30
            },
            "description": "op=building: the window of issue dates."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope for the op.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Cors"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PermitsBuildingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PermitsLicencesResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PermitsEnvironmentalResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "options": {
        "tags": [
          "permits"
        ],
        "summary": "CORS preflight",
        "operationId": "permitsOptions",
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/api/space": {
      "get": {
        "summary": "Space weather (Kp, solar flares, notifications) and NASA's ISS live stream",
        "description": "op=weather: the planetary Kp index for the last three days from GFZ Potsdam (each value with GFZ's status, `pre` preliminary or `def` definitive), NASA DONKI solar flares of the last seven days and space-weather notifications of the last three. A list that did not answer is null and named in `failed`; an empty list means none reported. NOAA SWPC is the official US source for forecasts. op=iss-stream: NASA's ISS stream id when YouTube's oEmbed endpoint confirms it is embeddable, on NASA's own channel and titled as the Space Station stream; otherwise `available: false` with the reason. No YouTube page is fetched.",
        "tags": [
          "space"
        ],
        "parameters": [
          {
            "name": "op",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "weather",
                "iss-stream"
              ]
            },
            "description": "weather: GFZ Kp + NASA DONKI. iss-stream: the oEmbed-checked ISS stream."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope for the op.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Cors"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SpaceWeatherResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SpaceIssStreamResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "options": {
        "tags": [
          "space"
        ],
        "summary": "CORS preflight",
        "operationId": "spaceOptions",
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/api/infra": {
      "get": {
[...]
